doctype html
html.h-100(lang="en")
  head
    title Timursus Chat
    if isProduction
      link(href=assetPath('main.css') rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.bg-light.h-100
    .h-100.overflow-hidden#chat
    script(src=assetPath('main.js'))
