doctype html
html.h-100(lang="en")
  head
    title Timursus Chat
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script.
      var gon = !{JSON.stringify(gon)};
  body.d-flex.flex-column.bg-light.h-100
    .container-fluid.h-100.overflow-hidden
      .h-100#chat
    script(src=assetPath('main.js'))
